@font-face {
    font-family: 'Pangea';
    src: url('/fonts/Pangea-Regular.woff2') format('woff2'),
         url('/fonts/Pangea-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  